*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #727272;
    line-height: 26px;
}


a{
    display: block;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 700;
}

ul,
li{
    list-style: none;
}

main{
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    border:none;
    background: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
}

.title{
    font-weight: 700;
    font-style: 36px;
    line-height: 42px;
    color: #000;
}

.header {
    padding: 40px 0;
}


.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
}
.logo__img {
    width: 32px;
    height: auto;
    margin-right: 10px;
}
.logo__text span{
    display: block;
    font-style: 15px;
    line-height: 18px;
    color: black;
}

.search {
    width: 100%;
    max-width: 690px;
    padding: 8px 12px 8px 32px;
    background-image: url(../img/home.svg);
    background-repeat: no-repeat;
    background-position: left 11px center;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}

.search::placeholder{
    color: #bfbfbf;
    font-family: inherit;
}


.btn__login,
.btn__cart {
    padding: 10px 16px 10px 36px;
    background-repeat: no-repeat;
    background-position: left 11px center;
    }


.btn__login {
    background-image: url(../img/pipl.svg);
    background-color: #1890ff;
    color: #fff;
    margin-right: 10px;
}


.btn__cart {
    background-image: url(../img/Vector.svg);
    border: 1px solid #d9d9d9;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    color: #595959;
}

/* Hero */
.hero{
    padding:20px 0 60px;
}
.hero__wrapper {
    background: #FFF1B8;
    border-radius: 10px;
    padding: 70px 0 70px 70px;
    background-image: url('../img/ovoshi.png');
    background-position: right center;
    background-repeat: no-repeat;
}

.hero__inner {
    max-width: 540px;
    color: #302C34;
}

.hero__title {
    font-size: 39px;
    line-height: 46px;
    margin-bottom: 15px;
    max-width: 462px;
}

.hero__desc {
    font-size: 24px;
}

/* Beer */

.beer {
    padding-bottom: 90px;
}
.container {
}
.beer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.beer__input {
    max-width: 310px;
    width: 100%;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: left 11px center;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    padding: 5px 12px 5px 32px;
}

.beer-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.beer-item {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    max-width: 384px;
    width: 100%;
    transition: all .3s;
}

.beer-item:hover{
    transform: translateY(-30px);
}

.beer-item__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 7px;
}
.beer-item__info {
    padding: 25px 25px 40px 25px;
}

.beer-item__info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.beer-item__info-title {
    font-style: 24px;
    line-height: 32px;
    color: #000;
}
.beer-item__info--time {
    background: #262626;
    border-radius: 2px;
    padding: 1px 6px;
    font-style: 12px;
    line-height: 20px;
    color: #fff;
}
.beer-item__info-bottom {
    display: flex;
    align-items: center;

}
.beer-item__info-raiting {
    padding-left: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    color: #FFC107;
    margin-right: 26px;
    position: relative;
}

.beer-item__info-raiting::before {
    content: '';
    position: absolute;
    background-image: url('../img/star.svg');
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
}

.beer-item__info-categories,
.beer-item__info-bottom span,
.beer-item__info-price {
    padding-right: 18px;
    font-style: 18px;
    line-height: 1;
    color: #8c8c8c;
}

.beer-item__info-bottom span{
    position: relative;
}

.beer-item__info-bottom span::before{
    content: "";
    position: absolute;
    background-color: #8c8c8c;
    width: 5px;
    height: 5px;
    top: -5px;
    left: -2px;
    border-radius: 50%;
}

.footer {
    padding: 60px 0;

}

.footer__inner {
    display: flex;
    align-items: center;
}
.nav__list {
    display: flex;
}
.nav__item {
    margin-right: 15px;
}

.nav__item:last-child {
    margin-right: 0px;
}

.nav{
    margin-left: 35px;
}
.nav__item-link {
    font-style: 18px;
    color: #595959;
}
.social {
    display: flex;
    margin-left: auto;
}
.social__link {
    margin-right: 20px;
}

.social__link:last-child {
    margin-right: 0px;
}


.product {
    padding-bottom: 112px;
}
.product__top {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.product__title {
    margin-right: 30px;
}
.product-item__info-top {
    margin-bottom: 25px;
}
.product-item__info-title {
    font-weight: 400;
    font-style: 24px;
    line-height: 32px;
    color: #000;
    margin-bottom: 10px;
}
.product-item__info-desc {
    font-style: 18px;
    line-height: 21px;
}
.product-item__info-botton {
    display: flex;
    align-items: center;
}
.product-item__info-btn {
    background-image: url(../img/cart_white.svg);
    background-repeat: no-repeat;
    background-position: right 11px center;
    margin-right: 60px;
    padding: 10px 36px 10px 16px;
    color: #fff;
    background-color: #1890ff;

}
.product-item__info-price {
    font-weight: bold;
    font-style: 20px;
    line-height: 32px;
    color: #000;
}